<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<title>MicroService Sensor</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css"   href="css/style.css">
</head>
<body class="cor">
	<div class="container">
		<h4> <b>Sensores</b> </h4>
		<form autocomplete="off" method="post" action="/item/add">
			<div class>
				<div class="col-6">
				<label>Sensor
				<input type="number" name="sensor" id="sensor" placeholder="id do sensor" required> </label>
				</div>
				<div class="col-6">
				<label>Nome
				<input type="text" name="nome" id="nome" placeholder="Nome do sensor" required> </label>
				</div>
			</div>
			<div class>
				<div class="col-6">
				<label>Tipo
				<input type="text" name="tipo" id="tipo" placeholder="Ex.: Temperatura" required> </label>
				</div>
				<div class="col-6">
				<label>Escolha o estado </label> <br>
				<label>ON</label>
				<input type="radio" name="estado" id="estado" placeholder="Ex.: ON" required> </label>
				<label>OFF</label>
				<input type="radio" name="estado" id="estado" placeholder="Ex.: ON" required> </label>
				</div>
			</div>
			<div class="row">
				<div class="col-6">
				<label>Valor
				<input type="number" name="valor" id="valor" placeholder="valor do sensor" required> </label>
				</div>
			</div>
			<input type="submit" class="btn btn-light" value="Cadastrar">
			<div class="text-center">
				<small> 
					<a href="/cadastrados" class="text-muted">Users Cadastrados</a>
				</small>	
			</div>
		</form>
	</div>
</body>
</html>
